
@model TaskImpiegati.Models.Impiegato

<h1>Impiegato @Model.Matricola</h1>

<ul class="list-group">
    <li class="list-group-item">Nome: @Model.Nome</li>
    <li class="list-group-item">Cognome: @Model.Cognome</li>
    <li class="list-group-item">Data di nascita: @Model.DataDiNascita</li>
    <li class="list-group-item">Ruolo: @Model.Ruolo</li>
    <li class="list-group-item">Reparto: @Model.Reparto</li>
    <li class="list-group-item">Indirizzo di Residenza: @Model.IndirizzoDiResidenza</li>
    <li class="list-group-item">Citta di Residenza: @Model.CittaDiResidenza</li>
    <li class="list-group-item">Provincia di Residenza: @Model.ProvinciaDiResidenza</li>
</ul>